/* Reseta o estilo padrão do navegador */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Define a fonte e o espaçamento padrão */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Estilo do cabeçalho */
header {
    background: #333;
    color: #e87502;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    color: #e87502;
    text-decoration: none;
}

/* Estilo do conteúdo principal */
main {
    padding: 36rem;
    text-align: center;
}

/* Estilo do rodapé */
footer {
    background: #333;
    color: #e87502;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
